/* Body */
body 
{
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.flex-auto 
{
    flex: auto;
}

.nav-border
{
    border: 1px solid transparent;
}

/* Background image */
.background-img
{
    background-image: url("../Assets/kees-streefkerk-Adl90-aXYwA-unsplash.jpg");
    height: 100vh;
    background-size: cover;
}

/* Title */
.title 
{
    font-size: 4em;
}

/* OTHER PAGES */
